body{
  padding-top: 25px;
  padding-left: 50px;
}

.start{
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}

#end{
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}

#message {
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}

table {
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}

td, th{
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}
